body { 
    background: #16141d;
    color: rgb(255, 255, 255);
}


.card {
    margin: auto;
    line-height: 20px;
    width: 50%;
    background: #201d29;
    color: #a7a3bd;
    padding: 20px;
    margin-top: 50px;    
}

.Home {
    margin-top: 5%;
}

.custom-h1-post {
    font-size: 60px;
    font-weight: bold;
   
}

.card-header {
    display: flex;
}
.card-header h2{
    margin-left: 1%;
}
.card-header h6{
    margin-top: 1%;
    margin-left: 4%;
}

.custom-publish {
   width: 40%;
   margin-left: 30%;
   margin-top: 2%;
   background-color: #201d29;
   border-color: #504d58;
}

.custom-publish::placeholder {
    font-weight: bold;
    color: #f0edff;
    text-align: center;
}

.custom-publish:focus::placeholder {

    color: #a7a3bd;
}

.custom-publish:focus{
    background-color: #19161f;
    
}


.custom-comment {
    background-color: #201d29;
    border-color: #504d58;
    color: #f0edff;
    height: 40px;
   margin-right: 3%;
}

.custom-comment::placeholder {
    color: #a5a2b5;

}

.custom-comment:focus{
    background-color: #19161f;
    color: #f0edff;
}

.div-comment{
    display: flex;
}

.custom-icon-comment {
    font-size: 30px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    margin-top: 1%;
}

.custom-icon-comment:hover {
    color:#fefeff
}

.comment-side {
    border: 1px solid #807d8e; 
    height: 70px;
    padding-left: 2%;
    padding-top: 1%;
    border-radius: 20px 100px 100px 20px;
    margin-right: 40%;
    background-color: #19161f;
}

.comment-outside {
    margin-bottom: 3%;
}

.comment-name{
    display: flex;
 
}

.comment-name h5 {

    margin-right: 3%;
}

.comment-edit {
    display: flex;
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 4px;
}

.comment-edit button {
    margin-left: 1px;
    margin: inherit;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font-weight: bold;
}

.comment-edit button:hover {
    color:#fefeff
}