.profile{
  height: 20000px;
}

.btn {
    
    margin-top: 35px;
    background: #1d1d2d;
    border: 1px solid rgb(132, 131, 137);
}


.btnfoto{
    padding: 8px 9px;
    font-size: 11px;
}

.fotow{
    
    width: 100px; 
    height: 100px;
    border-radius: 100px;
}


.cambiarpor .button {
    
  position: absolute;
  top: 82%;
  left: 82%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #1d1d2d;
  color: white;
  font-size: 16px;
  padding: 14px 14px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  text-align: center;
  }
  
  .button2:hover {
    box-shadow: 0 0px 18px 0 rgb(200, 236, 236),0 17px 50px 0 rgba(105, 100, 100, 0.19);
  }

  .btnp{
    display: none;
  }


  .titulo{
    text-align: center;
    text-decoration-line: underline;
   text-decoration-style: solid; 
   
   
 
 }

 .fotoportada{
    position: relative;
    left: 140px;
     border-radius:2%;
     width: 1320px;
     height: 560px;
     /* background-color: rebeccapurple; */
 }

 .cambiarpor{
    position: absolute;
    left: 100px;
    top: 310px; 
    border-radius:2%;
    width: 200px;
    height: 200px;
    /* background-color: red; */
}

.debajo{
    position: relative;
    
    left: 180px;
     border-radius:1%;
     width: 1250px;
     height: 460px;
     background-color: #16161f; 
}

.fotow{
    width: 200px;
    height: 200px;
}

.fotopor{
    width: 1320px;
     height: 420px;
     border-radius: 10px;
     box-shadow: 0 0 25px rgb(0, 0, 0);
}

.fotoportada .button3 {
    position: absolute;
  top: 82%;
  left: 82%;
  transform: translate(40%, -220%);
  -ms-transform: translate(-50%, -50%);
  background-color: #1d1d2d81;
  color: white;
  font-size: 16px;
  padding: 14px 14px;
  
  border-color: rgba(54, 52, 52, 0.623);
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  }
  
  .button3:hover {
    box-shadow: 0 12px 16px 0 rgba(86, 90, 90, 0.493),0 17px 50px 0 rgba(105, 100, 100, 0.19);
  }

  .letra1{
      text-align: right;
      width: 550px;
     
    
      font-weight: bold;
      font-family: Verdana;
  }

  .button4 {
    background-color: #1d1d2d;
    border: 1px solid rgb(132, 131, 137);
    transform: translate(1440%, -80%);
    -ms-transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button4:hover {
    box-shadow: 0 12px 16px 0 rgb(97, 100, 100),0 17px 50px 0 rgba(105, 100, 100, 0.19);
  }


  .button5 {
  
    background-color: #16141f;
    border: none;
    transform: translate(80%, 10%);
    -ms-transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button5:hover {
    box-shadow: 0 12px 16px 0 rgba(79, 82, 82, 0.281),0 17px 50px 0 rgba(105, 100, 100, 0.19);
  }

  .linea {
    border-top: 1px solid #fdfcfc;
    height: 2px;
    max-width: 1200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

  




